/*flex-direction讓item從上到下，從左到右，或相反...*/
/*在元網頁的文件裏頭，有個偽元素選擇器，把所有人都變成了border-box*/
/* ::after::before{box-sizing: border-box;} */
/*學習新的css寫法*/
body{
    background-image: url(/images/bg-main-ver2.jpg);
    background-attachment: fixed; /*背景不會隨拖拉變化*/
    background-color: rgb(187, 255, 0);
    background-size:cover; /*在不改變比例的狀況下填滿視窗*/
    line-height: 1.5; /*寫在body裡面統一文字格式*/
    font-size: 16px;
    font-style: normal;
    font-family: 'Noto Sans TC','微軟正黑體', 'Arial Narrow,'Rubik', 'Noto Sans TC', sans-serif';
    color:#1E1E1E;
    font-weight: 400;
    text-align: left;
    }
/*為什麼要重複宣告?*/
h1,h2,h3,h4,h5,h6{
    line-height: 1.5;
}
h3,h5 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
}

.container {
        max-width: 1280px;
        border: 2px solid red;
        margin-left: auto;
        margin-right: auto;
        background-color:white;
        padding: 2rem 2rem 3rem;
        box-sizing: border-box;
    }
/*網頁中有很多元件被分類之後重新運用，某些section開頭的就是*/
/*可以在繼承欄中，按一個像是電腦晶片的東西，顯示出來*/
nav {
    padding: 0px 30px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 80 px; /*怎麼決定的?*/
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center; /*寫在flex容器中讓flex item垂直置中*/
    justify-content: space-between;
    }
    /*用flexbox讓img可以並排，但是為什麼普通的block和inline不行?*/
    .nav-logo-container-box {
    flex-basis: 240px;
    min-width: 240px;
    height: 100%;
    background-color: rgb(55, 231, 134);
    display: flex;
    align-items: center;
    }
    /*寫在container下面以免被覆蓋*/
    .nav-logo1 {
    width: 100px;
    }
    .nav-logo2 {
    width:140px;
    }
    .nav-ul-link-container {
    flex-grow: 1;
    display: flex;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: flex-end;
    }
        .nav-li-link {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*讓items往mainend集中*/
    align-items: center;
    }
            .nav-link {
    margin: 10px 0 10px 12px;
    box-sizing: border-box;
    }   
            .nav-link a {
    color: #ffff;
    background-color: rgba(170, 113, 28, 0.548);
    padding: 8px;
    height: 40px;
    box-sizing: border-box;
    text-align: center; /*讓所有連接字置中*/
    flex-shrink: 0;
    }
    .nav-link-main-container{
    flex-shrink: 0;
    margin:10px 0px 10px 12px;
    }

    #nav-link-main {
    background-color: #BBFF00;
    color:#1E1E1E;
    height: 33.6px;
    box-sizing: border-box;
    border: 2px solid white;
    padding: 3px 13px;
    margin: 13px 3px;
    vertical-align: center;
    }
    .nav-link-btn{
    flex-shrink: 0;
    padding: 8px;
    }
    .nav-link-fb-logo{
    height: 25px;
    width: 25px;
    }
/*甚麼是rem,em*/
section.s1-mainvision {
    box-sizing: border-box;
    padding-top: 7rem;
    background-color: pink;
    }
    .s1-container {
    box-sizing: border-box;
    padding: 3rem 2rem 5rem;
    }
    .s1-content-container {
        display: flex;
    }
    .content-left {
        flex:0 0 58.3333%;
    }
        .conten-left img {
            max-width: 100%;
        }
    .content-right {
        flex:0 0 41.7777%;
        display:flex;
        flex-direction: column;
    }
        .content-right img {
            max-width:100%;
        }
section.s2-forumtimer {
    background-color: #00ED91;
    }    
    .row-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
    .counter-left {
        display: flex;
        flex: 0 0 65%;  /*不放大，不縮小，就是65%寬*/
        background-color: #004FD8;
        justify-content: center;
    }
        .numbers-wrap {
        display: flex;
        flex-wrap: nowrap;
        background-color: #004FD8;
        border:1px solid pink;
    }
        .numbers {
        max-width: 96.8px;
        background-color: #004FD8;
    }
    .counter-right {
        display: flex;
        flex: 0 0 25%;
        background-color: #004FD8;
        border:1px solid black;
    }
        .s2-btn-align-center {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
    border:2px solid brown;
}
        .s2-btn {
    background-color: white;
    color:#1E1E1E;
}
section.s2-forumtimer{

}
/*網頁製作者都有指定好字體和大小，這裡幾乎沒寫東西*/
    .s3-titlebox {
        font-style: italic;
        font-size: 2.8rem;
        font-weight: 600;
    }

    
    .s3-img-wrapper {
        display:flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    /*flex-basis好好用阿*/
        .s3-big {
            position: relative; /*為了比svg高一層*/
            flex:0 0 25%;
            max-width: 25%;
            padding: 0 5px;
            box-sizing: border-box;
        }
        .s3-big h3 {
            line-height: 1.5;
        }
        .s3-small {
            flex:0 0 8.333%;
            
        }
        /*這裡使用到新屬性Transform，可以操蹤元素變形、移動、旋轉*/
        /*Scale (0.5,1)寬一半，高不變
            Translate (120px,50%)向右120px，向下(母元素50%)
            Rotate(0.5turn)轉半圈..matrix和skew我還不會
            可以同時使用多個
        */
        .s3-img {
            width: 45%;
        }
        .s3-decor { 
            width: 250%;
            transform: translate(-80px,60px);
        }

section.s4-teacher 

.s4-mainarea{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    }
.s4-mainarea .card {
    flex:0 0 33%;
}
.teacher-img {
    width: 100%;
}
section.s5-mbr-counter

.s5-maincontainer  {
    width: 100%;
    display: flex;
    flex-wrap: row wrap;
}
.contentbox {
    flex:0 0 25%;
    border:1px solid red;
}
