/*flex-direction讓item從上到下，從左到右，或相反...*/
/*在元網頁的文件裏頭，有個偽元素選擇器，把所有人都變成了border-box*/
/* ::after::before{box-sizing: border-box;} */
/*學習新的css寫法*/
* {
    box-sizing: border-box;
}

body{
    background-image: url(/images/bg-main-ver2.jpg);
    background-attachment: fixed; /*背景不會隨拖拉變化*/
    background-color: rgb(187, 255, 0);
    background-size:cover; /*在不改變比例的狀況下填滿視窗*/
    line-height: 1.5; /*寫在body裡面統一文字格式*/
    font-size: 16px;
    font-style: normal;
    font-family: 'Noto Sans TC','微軟正黑體', 'Arial Narrow','Oswald', 'sans-serif';
    color:#1E1E1E;
    font-weight: 400;
    text-align: left;
    
    /* box-sizing: border-box; box-sizing不會影響後裔 */
    }

/*超連接虛擬類別*/
a, a:focus,a:active,a:visited {
    text-decoration: none;
}
*[class$="flex"] {
    display: flex;    
}
h1,h2,h3,h4,h5,h6,p {
    line-height: 1.5;
}

.container {
        max-width: 1280px;
        border: 2px solid red;
        margin-left: auto;
        margin-right: auto;
        background-color:white;
        padding: 2rem 2rem 3rem;
    }
/*網頁中有很多元件被分類之後重新運用，某些section開頭的就是*/
/*可以在繼承欄中，按一個像是電腦晶片的東西，顯示出來*/
/*從nav來設定顏色影響後裔*/
/*用id來創造可讀性?*/
.titlebox>h2 {
    font-size: 3.3rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
}
.titlebox>h3 {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: -10px;
}
.titlebox {
    margin-bottom: 40px;
    margin-top: 0px;
}
/*----------nav----------*/
/*應該調整整個section的高*/
#nav {
    padding: 0px 30px;
    position: fixed;
    width: 100%;
    height: 80px; 
    background-color: rgba(0, 0, 0, 1);
    align-items: center; 
    /*寫在flex容器中讓flex item垂直置中*/
    justify-content: space-between;
    display: flex;
    z-index: 10;
    }
    /*用flexbox讓img可以並排，但是為什麼普通的block和inline不行?*/
    #nav .logo-container-box-flex {
        flex:0 0 240px; /*grow=0 ,shrink=0*/
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        align-items: center;
        }
    
        #nav .fm-img {
            width: 100px;
            vertical-align: middle;
            }
        #nav .bnext-img {
            width:140px;
            vertical-align: middle;
            }
    #nav .ul-link-wrapper-flex {
    flex-grow: 1; /*在grow為正整數且其他item為零的情況下所有餘寬都給這item*/
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: flex-end;
    }
        #nav .link-container-flex {
        flex:0 0 100%;
        flex-wrap: wrap;
        justify-content: flex-end; /*讓items往main-end集中*/
        align-items: center;
        }
            #nav .link {
            height: 40px;
            margin-left: 20px;
            margin-top: 20px;

            }   
                #nav .link a {
                color: #ffff;
                background-color: rgba(0, 0, 0, 0);
                padding: 8px;
                text-align: center; /*讓所有連接字置中*/
                flex:0 0 auto; /*flex-basis auto代表 依照content大小決定寬*/
                }
            #nav .link-main-container{
            flex:0 0 auto;
            margin:10px 0px 10px 12px;
            }

                #nav-link-main {
                background-color: #BBFF00;
                color:#1E1E1E;
                padding: .2rem .8rem;
                margin-left: 15px;
                margin-right: 20px;
                font-weight: bold;
                border: 0px solid white;
                vertical-align: middle;
                transition: .5s;
                }
                #nav-link-main:hover,#nav-link-main:active {

                    color:#fff;
                    background-color: #004FD8;}
            #nav .link-fb-btn{
            flex:0 0 auto;
            padding:0 .5em;
            }
                #nav .link-fb-logo{
                vertical-align: middle; /*讓img在容器內垂直置中*/
                height: 25px;
                width: 25px;
                }
/*甚麼是rem,em→rem依照root element (html)宣告的字形做基準為一倍 ；em依照parents*/
/*----------mainvision----------*/
#mainvision {
    padding-top: 7rem;
    }
    #mainvision .s1-wrapper {
    padding:50px 55px 10px 55px;
    }
            #mainvision .content-left {
                flex:0 0 58.3333%;
                max-width: 58.3333%;
                padding-right: 15px;
            }
            #mainvision .content-left img, 
            #mainvision .content-left p {
                padding-bottom: 20px;
            }
            #mainvision .content-left-pop {
                    max-width: 65%;
                    padding-right: 15px;
                }
            #mainvision .content-left-slogan {
                max-width: 94%;
            }
            #mainvision .content-left p {
                line-height: 1.5;
                font-weight:400;
                font-size: 24px;
                margin-bottom: 30px;
            }
            #mainvision .content-right-flex {
                flex:0 0 41.777%;
                flex-direction: column;
            }
                #mainvision-img {
                    max-width:100%;
                    transform: scale(1.2);
                }
                #mainvision .content-right-side-img {
                    width: 400px;
                    transform:translateY(90px) translateX(25px) scale(1.2);
                }

/*----------forumtimer----------*/


#forumtimer {
    background-color: #00ED91;
    }
    #forumtimer .container {
        background-color: #00ED91;
        padding:54px;
    }
        #forumtimer .row-flex {
            background-color: #00ED91;
            flex-wrap: wrap;
            justify-content:space-evenly;
            color: #fff;
        }
        /*class屬性值開頭為counter的*/
            #forumtimer  [class ^="counter"] {
                background-color: #004FD8;
                justify-content: center;
                padding: 25px;
                justify-content: center;
                display: flex;
                border-radius: 10px;
            }
            #forumtimer p {
                margin-top: 3px;
                font-weight: 200;
            }

            #forumtimer .counter-left {
                flex: 0 0 55%;
                }

                #forumtimer .numbers-wrap-flex {
                flex-wrap: nowrap;
                background-color: #004FD8;
                justify-content:space-evenly;
                width: 100%;
                
                }
                #forumtimer h5 {
                    font-size: 1.5rem;
                    font-weight: 200;
                }

                    #forumtimer .numbers {
                    max-width: 96.8px;
                    background-color: #004FD8;
                    }
                    #forumtimer .numbers div{
                        width: 100%;
                        background-color: #004FD8;
                        font-size: 2.6rem;
                        font-weight: 700;
                        text-align: center;
                        }
            #forumtimer .counter-right {
            flex: 0 0 25%;
            justify-content: space-evenly;
            }

            #forumtimer .btn-align-center {
            max-width: 100%;
            flex: 0 0 100%;
            text-align: center;
            margin-top: 1rem;
            padding: 1rem;
            }
                #forumtimer .s2-btn {
                transition: .5s;
                line-height: 2;
                padding: 5px;
                font-weight: bolder;
                font-size: 23px;
                padding: 10px;
                background-color: white;
                border:1px solid #1E1E1E;
                color:#1E1E1E;
                box-shadow:-7.5px 7.5px 1px #1e1e1e
                }
                #forumtimer .s2-btn:hover ,
                .s2-btn:active {
                    transition: .8s;
                    color: #BBFF00;
                    background-color: #1e1e1e;
                    box-shadow: none;
                }

/*----------info----------*/


/*網頁製作者都有指定好字體和大小，這裡幾乎沒寫東西*/
    #info .container {
        margin-top: 0px;
    }
    #info .titlebox {
        font-style: italic;
        font-size: 3rem;
        font-weight: 700;
        position: relative;
        
    }
    /*before使用absolute的時候，依舊被relative的titlebox影響*/
    #info .titlebox::before {
        content: "";
        width: 100px;
        height: 100px;
        background-image: url(/images/item_7.svg);
        background-color: transparent;
        position: absolute;
        left: 25%;
    }

    
        #info .img-wrapper-flex {

            flex-wrap: nowrap;
            justify-content: space-around;
            padding:20px 5px 0px 50px;
        }

            #info .s3-big {
                flex:0 0 25%;
                max-width: 25%;
                padding: 0 5px;
            }
            #info .s3-big h3 {
                line-height: 1.5;
                font-size: 22px;
                font-weight: bold;
            }
            #info .s3-big p {
                text-align: start;
            }
            #info .s3-small {
                flex:0 0 8.333%;
            }
            #info .s3-img {
                width: 50%;
            }
            #info .s3-decor { 
                width: 215%;
                transform: translate(-80px,25px);
            }
            
/*這裡使用到新屬性Transform，操蹤元素變形、移動、旋轉*/
/*Scale (0.5,1)寬一半，高不變
Translate (120px,50%)向右120px，向下(母元素50%)
rotate(0.5turn)轉半圈，可以同時使用多個*/



/*----------teacher----------*/

#teacher .container {
    background-color: transparent;
}

    #teacher .card-wrapper-flex {

        flex-wrap:wrap;
        max-width: 87%;
        margin: 0 auto;
    }

            #teacher .card-container-flex {
            flex:0 0 33.33%;
            padding:10px;
            height: 430px;
            background-color: #fff;
            position: relative;
            border: 2px solid #1E1E1E;
            }
                /* #teacher .omote {
                    display: flex;
                    flex-direction: column;
                    justify-content:flex-end;
                } */
                    #teacher .teacher-frame {
                        height: 300px;
                        width: 100%;
                        border-radius: 0 50px 0 0;
                        overflow: hidden;
                        }
                            #teacher .teacher-img {
                                width: 100%;
                                object-fit: cover; /*預設是fill*/
                            }
                    /*瞎用fit-content給矇中了*/
                    #teacher h4 {
                        width:fit-content;
                        background-color: #00ED91;
                        padding:9px;
                        margin: -10px 0 0 -10px;
                        font-size: 1.2rem;
                        position: relative;
                    }
                    #teacher .omote-blue {
                        background-color: #004FD8;
                        color: #fff;
                    }
                    #teacher .omote-cyan {
                        background-color: #AADDF7;
                    }
                    #teacher .omote-black {
                        background-color: #1E1E1E;
                        color: #fff;
                    }
                    /* #teacher  h4:4th-of-type()
                        選不到東西？因為這是兄弟選擇器？
                    */
                        /*用absolute移動空間、在操作大容器的高？*/
                    #teacher .name-flex {
                        position: absolute;
                        bottom:0px;
                        flex-wrap:nowrap;
                        width: 100%;
                        height: 50px;
                        align-content: flex-end;
                        }

                        #teacher .arrow {
                            width: 70%;
                            flex: 0 0 auto;
                        }

                        #teacher h5 {
                            flex:1 0 auto;
                            font-size: 1.5rem;
                            font-weight: 400;
                            padding: 3px;

                        }

                    /*加上這個left才弄好，為甚麼預設會往右偏?*/
                #teacher .inner-flex {
                    background-color:#bfffe7;
                    position: absolute;
                    top: 70px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    opacity: 0.01;
                    visibility: hidden;
                    flex-direction: column;
                    justify-content: center;
                    padding: 15px;
                    font-size: large;
                    text-align:start; /*字要對齊哪邊，左邊/justify看起來怪怪的*/
                    word-break: break-word; /*中文的話跟breakall差不多*/
                    transition: all .2s ease-out;
                }
                    #teacher .card-container-flex:hover .inner-flex {
                        top: 0px;
                        transition: all .5s cubic-bezier(.47,.53,.18,.91);
                        visibility: visible;
                        opacity: 1;

                    }


/*----------mbrcounter----------*/

#mbrcounter {
    background: url(/images/bg-num2.svg)top right;
    background-size: cover;
}
    #mbrcounter .container {
        background-color: transparent;
        padding: 0px 20px;
        
    }
        #mbrcounter .titlebox {
            margin-top: 20px;
            margin-bottom: 50px;
        }
        #mbrcounter .titlebox h2{
            color: #fff;
            font-size:57px;
            padding-top: 20px;
        }
        #mbrcounter .titlebox h3{
            color: #fff;
            font-size:29px;
            padding-top: 5px;
        }

            #mbrcounter .maincontainer-flex  {
                width: 100%;
                flex-wrap:wrap;
            }
                    #mbrcounter .contentbox-flex {
                        flex-wrap: wrap;
                        flex:0 0 25%;
                        justify-content: center;
                    }
                        #mbrcounter .numbox-flex {
                            flex-wrap: nowrap;
                            justify-content: center;
                            flex:1 0 100%;
                            padding-bottom: 10px;
                            color: #fff;
                            align-items: baseline; /*讓數字靠在baseline*/
                            
                        }
                                #mbrcounter .numbox-flex h4 {
                                    font-size: 80px;
                                    font-weight: 500;
                                    font-family:'Oswald', 'sans-serif';
                                }
                            
                        #mbrcounter .contentbox-flex h5 {
                            color: #fff;
                            font-weight: 400;
                            text-align: center;
                            font-size: 1.25rem;
                            padding: 5px 5px 20px 5px;
                        }

/*-----------agenda----------*/
#agenda .container {
    padding-top: 5rem;
}
#agenda .container h2 {
    font-size: 3.2rem;
    font-style: italic;
    font-weight: 700;
    padding: 10px;
}
#agenda .titlebox h3 {
    padding: 0 10px;
    margin-top: -20px;
}
/*----------eventscard----------*/
#agenda .eventscard {
    min-height: 146px;
}

#agenda .eventscard-time {
    font-family: 'DM Sans',sans-serif;
    font-size: 2rem;
    font-weight: 700;
    width: 20%;
    /*作者使用了tranform TranslateY 元位置不騰空，y軸平移*/
    background-color: #fff;
    margin-left: 3px;
    transform: TranslateY(20px);
    text-align: center;
    /*用outline做出不佔空間的邊框*/
    outline: 2px solid #1E1E1E;
    outline-offset: -5px;
}

    #agenda .eventscard-content-flex {
        padding:15px 10px 7.5px 10px;
        width: 100%;
        border: 1px solid red;
        box-shadow: -8px 5px 1px #1e1e1e;
    }

                #agenda .eventscard-content-left {
                    flex:0 0 50%;
                    padding-left: 15px;
                    padding-right: 15px;

                }
                        #agenda .eventscard-content-left span{
                            width:fit-content;
                            background-color: #00ED91;
                            padding: 1px 5px;
                            font-size: 1.2rem;
                            font-weight: bold;
                            line-height: 2.2;   /*推擠h3*/
                        }
                        #agenda .eventscard-content-left h3 {
                            font-size: 1.4rem;
                        }
        
                #agenda .eventscard-content-right-flex {
                    flex: 1 0 50%;  
                    flex-wrap: nowrap;
                    flex-direction: row;
                }

                /*運用grow 把名字拉開*/

                        #agenda .host-title-wrap-flex {
                            flex:1 0 66.6%;
                            flex-direction: column;
                        }

                                #agenda .host-title-container-flex{
                                    height: 50%;
                                    padding-top: 15px;
                                    flex:0 0 50%;

                                }
                                        #agenda .host-title {
                                            font-size: 1.3rem;
                                            margin-bottom: 17px;
                                        }
                                        #agenda .host-title-big {
                                            font-size: 1.3rem;
                                            margin-bottom: -7px;
                                        }

                                #agenda .event-hostname-container-flex {
                                    width: 100%; 
                                    flex:0 0 50%;
                                    flex-wrap: nowrap;
                                }

                                        #agenda .arrow {
                                            width: 65%;
                                            
                                        }
                                        #agenda .hostname {
                                            flex: 1 0 auto;
                                            text-align: center;
                                            font-size: 1.3rem;
                                            font-weight: 700;
                                        }
        
                #agenda .space {
                    flex:0 0 1%;
                }
                #agenda .photoframe {
                    flex:0 0 16.7%;
                }
                        #agenda .photoframe img {
                            width: 100%;
                            height: 100%;
                            object-fit: scale-down;
                        }
/*-------------------eventscard完成--------------------*/


#agenda .rest {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 50px;
}


/*----------join----------*/
#join .container {
        margin-top: 0px;
        padding-bottom: 2rem;
    }
    #join .titlebox {
        font-style: italic;
        font-size: 3rem;
        font-weight: 700;
        position: relative;
        
    }
    /*before使用absolute的時候，依舊被relative的titlebox影響*/
    #join .titlebox::before {
        content: "";
        width: 100px;
        height: 100px;
        background-image: url(/images/item_7.svg);
        background-color: transparent;
        position: absolute;
        left: 15%;
        top:-8%
    }

    
        #join .img-wrapper-flex {

            flex-wrap: nowrap;
            justify-content: space-around;
            padding:30px;
        }

            #join .s3-big {
                flex:1 0 25%;
                padding: 0 5px;

            }
            #join .s3-big h3 {
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
            }
            #join .s3-big p {
                text-align: center;
                font-size: 1rem;

            }
            #join .s3-small {
                flex:0 0 4.3%;
            }
            #join .s3-img {
                display: inline-block;
                position: relative;
                left:21%;
                width: 60%;
            }
/*-----------address----------*/
#address .container {
    background-color: transparent;
    padding-top: 5rem;
}
        #address h5 {
            font-size: 1.5rem;
        }
        #address .bold {
            font-weight: bold;
        }
        #address .date {
            font-family: 'Oswald';
            font-weight: bold;
        }
        #address .small {
            font-size: 0.8em;
        }
        #address  .ticket-container-flex {
            margin-top: 15px;
            justify-content: space-between  ;
        }
            #address  .ticket{
                flex:0 0 22.6%;
                text-align: center;
                font-size: 1.2rem;
                font-weight: bold;
                padding: 1.3rem 0.5rem;
                border-radius: 5px;
                color: #1E1E1E;
            }
            #address .t1 {
                background-color: #004FD8;
                color: #fff;
                transition: .5s;
            }
            #address .t1:hover {
                background-color: #fab700;
                color: #1E1E1E;
            }

            #address .t2 {
                background-color: #AADDF7;
                transition: .5s;
            }
            #address .t2:hover {
                background-color: #fab700;
                
            }
            #address .t3 {
                background-color: #fff;
                transition: .5s;
            }
            #address .t3:hover {
                background-color: #fab700;
            }
            #address .t4 {
                background-color: #00ED91;
                transition: .5s;
            }
            #address .t4:hover {
                background-color: #fab700;
            }
                #address a span {
                    font-size: 2.0rem;
                    font-weight: bolder;
                }
                #address span.asksales {
                    font-weight: 300;
                }
                #address .entity {
                    font-weight: bold;
                }
        #address .magazine-left {
            flex: 0 0 58%;
            padding-left: 1rem;
            padding-top: 1rem;
        }

                #address .magazine-button {
                    text-align: center;
                    padding-top:2rem;
                }

                #address .magazine-button a{
                    transition: .5s;
                    font-weight: bold;
                    font-size: 1.3rem;
                    padding: 10px;
                    background-color: white;
                    border: 1px solid #1E1E1E;
                    color: #1E1E1E;
                    box-shadow: -7.5px 7.5px 1px #1e1e1e;
                }

                #address .magazine-button a:hover ,
                #address .magazine-button a:active {
                    color: #BBFF00;
                    background-color: #1e1e1e;
                    box-shadow: none;
                }
            
        #address .magazine-picture {
            flex: 0 0 42%;
            max-width: 42%;
        }
        #address .supersale {
            margin-top: 2rem;
            padding: 1.5rem;
            font-weight: bold;
            background-color: white;
            border: 1px solid #1E1E1E;
            color: #1E1E1E;
            box-shadow: -7px 7px 1px #1e1e1e;
        }
            #address .supersale h3 { 
                font-size: 1.5rem;
            }
            #address .supersale h5 { 
                font-size: 1.2rem;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            #address .supersale span {
                background-color: #00ED91;
                font-style: italic;
                margin-right: 1rem;
            }

            #address .supersale p { 
                font-size: 1rem;
            }

/*----------about-----------*/

#about  {
    background-image: url(/images/join.jpg), linear-gradient( 45deg, #090b81c9, #0187a5f3);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about .container {
    background-color: transparent;
}

#about .titlebox {
    color:#fff
}

#about h5{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffd000;;
}
#about h6{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

/*why flex ?*/
/*用inline元素沒辦法控制上下margin*/
#about .row-review h5 span {
    width: fit-content;
    display: inline-block;
    background-color: rgb(0, 237, 145);
    font-style: italic;
    font-size: 1.2rem;
    color: #1E1E1E;
    padding: 3px;
    margin:1rem 2rem 2rem 0rem;
}

#about .row-review h5 a {
    color: #fff;
    font-size: 1.2rem;
}




            
