/*flex-direction讓item從上到下，從左到右，或相反...*/
/*在元網頁的文件裏頭，有個偽元素選擇器，把所有人都變成了border-box*/
/* ::after::before{box-sizing: border-box;} */
/*學習新的css寫法*/
body{
    background-image: url(/images/bg-main-ver2.jpg);
    background-attachment: fixed; /*背景不會隨拖拉變化*/
    background-color: rgb(187, 255, 0);
    background-size:cover; /*在不改變比例的狀況下填滿視窗*/
    line-height: 1.5; /*寫在body裡面統一文字格式*/
    font-size: 16px;
    font-style: normal;
    font-family: 'Noto Sans TC','微軟正黑體', 'Arial Narrow','Oswald', 'sans-serif';
    color:#1E1E1E;
    font-weight: 400;
    text-align: left;
    
    /* box-sizing: border-box; box-sizing不會影響後裔 */
    }
/*為什麼要重複宣告?*/
/*超連接虛擬類別*/
a, a:focus,a:active,a:visited {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    line-height: 1.5;
}

.container {
        max-width: 1280px;
        border: 2px solid red;
        margin-left: auto;
        margin-right: auto;
        background-color:white;
        padding: 2rem 2rem 3rem;
        box-sizing: border-box;
    }
/*網頁中有很多元件被分類之後重新運用，某些section開頭的就是*/
/*可以在繼承欄中，按一個像是電腦晶片的東西，顯示出來*/
/*從nav來設定顏色影響後裔*/
/*用id來創造可讀性?*/
.title>h2 {
    font-size: 2.8rem;
    font-style: italic;
    font-weight: 700;
}
.title>h3 {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: -10px;
}
.title {
    box-sizing: border-box;
    margin-bottom: 60px;
}
/*----------nav----------*/
#nav {
    padding: 0px 30px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 80px; 
    background-color: rgba(0, 0, 0, 1);
    align-items: center; 
    /*寫在flex容器中讓flex item垂直置中*/
    justify-content: space-between;
    display: flex;
    z-index: 10;
    }
    /*用flexbox讓img可以並排，但是為什麼普通的block和inline不行?*/
    
#nav .container {
    margin-top: -18px;
}
    
    #nav .logo-container-box-flex {
        flex:0 0 240px; /*grow=0 ,shrink=0*/
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        align-items: center;
        display: flex;
        }
    
        #nav .fm-img {
            width: 100px;
            vertical-align: middle;
            }
        #nav .bnext-img {
            width:140px;
            vertical-align: middle;
            }
    #nav .ul-link-wrapper-flex {
    flex-grow: 1; /*在grow為正整數且其他item為零的情況下所有餘寬都給這item*/
    display: flex;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: flex-end;
    }
        #nav .link-container-flex {
        flex:0 0 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end; /*讓items往main-end集中*/
        align-items: center;
        }
            #nav .link {
            height: 40px;
            margin-left: 20px;
            margin-top: 20px;
            box-sizing: border-box;
            }   
                #nav .link a {
                color: #ffff;
                background-color: rgba(0, 0, 0, 0);
                padding: 8px;
                box-sizing: border-box;
                text-align: center; /*讓所有連接字置中*/
                flex:0 0 auto; /*flex-basis auto代表 依照content大小決定寬*/
                }
            #nav .link-main-container{
            flex:0 0 auto;
            margin:10px 0px 10px 12px;
            }

                #nav-link-main {
                background-color: #BBFF00;
                color:#1E1E1E;
                box-sizing: border-box;
                padding: .2rem .8rem;
                margin-left: 15px;
                margin-right: 20px;
                font-weight: bold;
                border: 2px solid white;
                vertical-align: middle;}
                #nav-link-main:hover,#nav-link-main:active {
                    transition: .3s;
                    color:#fff;
                    background-color: #004FD8;
                    border: 2px solid #004FD8;}
            #nav .link-fb-btn{
            flex:0 0 auto;
            padding:0 .5em;
            }
                #nav .link-fb-logo{
                vertical-align: middle; /*讓img在容器內垂直置中*/
                height: 25px;
                width: 25px;
                }
/*甚麼是rem,em→rem依照root element (html)宣告的字形做基準為一倍 ；em依照parents*/
/*----------mainvision----------*/
#mainvision {
    box-sizing: border-box;
    padding-top: 7rem;
    }
    #mainvision .s1-wrapper {
    box-sizing: border-box;
    padding:50px 55px 60px 55px;
    }
        #mainvision .content-container {
            display: flex;
        }
            #mainvision .content-left {
                flex:0 0 58.3333%;
                max-width: 58.3333%;
                padding-right: 15px;
            }
            #mainvision .content-left img, 
            #mainvision .content-left p {
                padding-bottom: 20px;
            }
            #mainvision .content-left-pop {
                    max-width: 65%;
                    padding-right: 15px;
                }
            #mainvision .content-left-slogan {
                max-width: 94%;
            }
            #mainvision .content-left p {
                line-height: 1.8;
                font-weight:400;
                font-size: 25px;
                margin-bottom: 30px;
            }
            #mainvision .content-right {
                flex:0 0 41.7777%;
                display:flex;
                flex-direction: column;
            }
                #mainvision-img {
                    max-width:100%;
                    transform: scale(1.2);
                }
                #mainvision .content-right-side-img {
                    width: 400px;
                    transform: translateX(-20px);
                    transform: translateY(20px);
                }

/*----------forumtimer----------*/


#forumtimer {
    background-color: #00ED91;
    }
    #forumtimer .container {
        background-color: #00ED91;
        padding-top: 50px;
    }
        #forumtimer .row-flex {
            background-color: #00ED91;
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            color: #fff;
        }
        /*class屬性值開頭為counter的*/
            #forumtimer  [class ^="counter"] {
                background-color: #004FD8;
                box-sizing: border-box;
                justify-content: center;
                padding: 25px;
                justify-content: center;
                display: flex;
                border-radius: 10px;
            }
            #forumtimer p {
                margin-top: 3px;
            }

            #forumtimer .counter-left {
                flex: 0 0 55%;
                }

                #forumtimer .numbers-wrap {
                display:flex;
                flex-wrap: nowrap;
                background-color: #004FD8;
                justify-content:space-evenly;
                width: 100%;
                
                }
                #forumtimer h5 {
                    font-size: 1.5rem;
                }
                    #forumtimer .numbers {
                    max-width: 96.8px;
                    background-color: #004FD8;
                    }
                    #forumtimer .numbers div{
                        width: 100%;
                        background-color: #004FD8;
                        font-size: 2.6rem;
                        font-weight: 700;
                        text-align: center;
                        }
            #forumtimer .counter-right {
            flex: 0 0 25%;
            justify-content: space-evenly;
            }

            #forumtimer .btn-align-center {
            max-width: 100%;
            flex: 0 0 100%;
            text-align: center;
            box-sizing: border-box;
            margin-top: 1rem;
            padding: 1rem;
            }
                #forumtimer .s2-btn {
                transition: .5s;
                line-height: 2;
                padding: 5px;
                font-weight: bolder;
                font-size: 23px;
                padding: 10px;
                background-color: white;
                border:1px solid #1E1E1E;
                color:#1E1E1E;
                box-shadow:-7.5px 7.5px 0px #1e1e1e
                }
                #forumtimer .s2-btn:hover ,
                .s2-btn:active {
                    transition: .8s;
                    color: #BBFF00;
                    background-color: #1e1e1e;
                    box-shadow: none;
                }

/*----------info----------*/


/*網頁製作者都有指定好字體和大小，這裡幾乎沒寫東西*/
    #info .container {
        margin-top: 0px;
    }
    #info .titlebox {
        font-style: italic;
        font-size: 3rem;
        font-weight: 700;
        position: relative;
        
    }
    /*before使用absolute的時候，依舊被relative的titlebox影響*/
    #info .titlebox::before {
        content: "";
        width: 100px;
        height: 100px;
        background-image: url(/images/item_7.svg);
        background-color: transparent;
        position: absolute;
        left: 25%;
    }

    
        #info .img-wrapper {
            display:flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            box-sizing: border-box;
            padding:20px 5px 0px 50px;
        }

            #info .s3-big {
                flex:0 0 25%;
                max-width: 25%;
                padding: 0 5px;
                box-sizing: border-box;
            }
            #info .s3-big h3 {
                line-height: 1.5;
                font-size: 22px;
                font-weight: bold;
            }
            #info .s3-small {
                flex:0 0 8.333%;
            }
            #info .s3-img {
                width: 50%;
            }
            #info .s3-decor { 
                width: 215%;
                transform: translate(-80px,25px);
            }
            
/*這裡使用到新屬性Transform，操蹤元素變形、移動、旋轉*/
/*Scale (0.5,1)寬一半，高不變
Translate (120px,50%)向右120px，向下(母元素50%)
rotate(0.5turn)轉半圈，可以同時使用多個*/



/*----------teacher----------*/

#teacher .container {
    background-color: transparent;
}

    #teacher .card-wrapper-flex {
        display: flex;
        flex-wrap:wrap;
        max-width: 90%;
        margin: 0 auto;
    }

            #teacher .card-container-flex {
            flex:0 0 33.33%;
            box-sizing: border-box;
            padding:10px;
            height: 460px;
            background-color: #fff;
            position: relative;
            border: 2px solid #1E1E1E;
            }
                /* #teacher .omote {
                    display: flex;
                    flex-direction: column;
                    justify-content:flex-end;
                } */
                    #teacher .teacher-frame {
                        height: 300px;
                        width: 100%;
                        border-radius: 0 50px 0 0;
                        overflow: hidden;
                        }
                            #teacher .teacher-img {
                                width: 100%;
                                object-fit: cover; /*預設是fill*/
                            }
                    /*瞎用fit-content給矇中了*/
                    #teacher h4 {
                        width:fit-content;
                        background-color: #00ED91;
                        box-sizing: border-box;
                        padding:9px;
                        margin: 20px 0 0 -10px;
                        font-size: 1.2rem;
                    }
                        /*用absolute移動空間、在操作大容器的高？*/
                    #teacher .name-flex {
                        position: absolute;
                        bottom:0px;
                        display:flex;
                        flex-wrap:nowrap;
                        width: 100%;
                        height: 50px;
                        align-content: flex-end;
                        }

                        #teacher .arrow {
                            width: 70%;
                            flex: 0 0 auto;
                        }

                        #teacher h5 {
                            flex:1 0 auto;
                            font-size: 1.5rem;
                            font-weight: 400;
                            padding: 3px;

                        }

                    /*加上這個left才弄好，為甚麼預設會往右偏?*/
                #teacher .inner {
                    background-color:#bfffe7;
                    position: absolute;
                    box-sizing:border-box;
                    top: 70px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    opacity: 0.01;
                    visibility: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 15px;
                    font-size: large;
                    text-align:start;
                    word-break: break-word;
                    transition: all .2s ease-out;
                }
                    #teacher .card-container-flex:hover .inner {
                        top: 0px;
                        transition: all .35s ease-out;
                        visibility: visible;
                        opacity: 1;

                    }


/*----------mbrcounter----------*/

#mbrcounter {
    background: url(/images/bg-num2.svg)top right;
    background-size: cover;
}
    #mbrcounter .container {
        background-color: transparent;
        box-sizing: border-box;
        padding: 0px 20px;
    }
        #mbrcounter .title {
            box-sizing: border-box;
            margin-top: 20px;
            margin-bottom: 50px;
        }
        #mbrcounter .title h2{
            color: #fff;
            font-size:57px;
            padding-top: 20px;
        }
        #mbrcounter .title h3{
            color: #fff;
            font-size:29px;
            padding-top: 5px;
        }

            #mbrcounter .maincontainer  {
                width: 100%;
                display: flex;
                flex-wrap:wrap;
            }
                    #mbrcounter .contentbox {
                        display: flex;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        flex:0 0 25%;
                        justify-content: center;
                    }
                        #mbrcounter .numbox {
                            display:flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                            flex:1 0 100%;
                            padding-bottom: 10px;
                            color: #fff;
                            align-items: baseline; /*讓數字靠在baseline*/
                            
                        }
                                #mbrcounter .numbox h4 {
                                    font-size: 80px;
                                    font-weight: 500;
                                    font-family:'Oswald', 'sans-serif';
                                }
                            
                        #mbrcounter .contentbox h5 {
                            color: #fff;
                            font-weight: 400;
                            text-align: center;
                            font-size: 1.25rem;
                            padding: 5px 5px 20px 5px;
                        }

/*-----------agenda----------*/
#agenda .container h2 {
    font-size: 2.8rem;
    font-style: italic;
    font-weight: 700;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
}
#agenda .title h2 {
    margin-bottom:0;
}
#agenda .title h3 {
    padding: 5px 10px 10px 10px;
}
/*----------eventscard----------*/
#agenda .eventscard {
    box-sizing: border-box;
}
#agenda .eventscard-time {
    font-family: 'DM Sans',sans-serif;
    font-size: 2rem;
    font-weight: 700;
    width: 20%;
    /*作者使用了tranform TranslateY 元位置不騰空，y軸平移*/
    background-color: #fff;
    margin-left: 3px;
    transform: TranslateY(20px);
    text-align: center;
}

#agenda .eventscard-content-flex {
    display: flex;
    padding:15px 10px 7.5px 10px;
    width: 100%;
    border: 1px solid red;
    box-shadow: -8px 5px 1px #1e1e1e;
}

#agenda .eventscard-content-left {
    flex:0 0 50%;
    box-sizing: border-box;
    background-color: cyan;
    padding-left: 15px;
    padding-right: 15px;

}
#agenda .eventscard-content-left span{
    width:fit-content;
    background-color: #00ED91;
    box-sizing: border-box;
    padding: 1px 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
#agenda .eventscard-content-left h3{
    font-size: 1.8rem;
}
#agenda .eventscard-content-right-flex {
    display: flex;
    flex: 0 0 50%;
    flex-wrap: nowrap;
    box-sizing: border-box;
}
#agenda .grid {
    flex:0 0 66.6%;
    background-color:pink;
}
#agenda .space {
    flex:0 0 16.7%;
    background-color:blue;
}
#agenda .photoframe {
    flex:0 0 16.7%;
    background-color: red;
}
#agenda .photoframe img {
    width: 100%;
    height: 100%;
}
